h1 { font-size: x-large; }
section > h1 { font-size: medium; }
pre { margin-left: 40px; white-space: pre-wrap; }
dl {
  padding-left: 40px;
  list-style-type: disc;
}
dt { display: list-item; }
dd { margin-left: 0px; }
dd > p { margin-left: 20px; }
ul { list-style-type: disc; }
.age { background-color: #aaffaa; }
.bugs, .obsolete, .outdated, .not-rebuilt, .issues {
  background-color: #ffccaa;
}
.coinst { background-color: #fff480; }
.unsat { background-color: #ffaaaa; }
.problem {
  border:thin;
  border-style:solid;
  padding-top:0.2em;
  padding-bottom:0.2em;
  overflow-x: auto;
}
.problem svg {
  margin:auto;
  display:block;
}
dt.collapsible.active { cursor:pointer; }
dt.collapsed + dd { display:none; }
dt {
  position:relative;
  list-style-type:none;
  margin-top:1em;
  margin-bottom:1em;
}
dt:before {
  content: '';
  height:16px;
  width:16px;
  position: absolute;
  background: url(arrows.png) no-repeat left top;
  background-size: cover;
  left:-19px;
}
dt.collapsible.active:before { background-position:-32px 0; }
dt.collapsible.collapsed:before { background-position:-16px 0; }
footer {
  border-top: 2px solid #000;
  border-bottom: 0;
  font-size: small;
  margin-top: 2em;
}
@media print {
  .expand { display:none; }
  dt { list-style-type:disc; }
  dt:before { display:none; }
}
