h1 { font-size: x-large; }
section > h1 { font-size: medium; }
pre { margin-left: 40px; white-space: pre-wrap; }
dl.explanation {
  padding-left: 40px;
  list-style-type: disc;
}
dl.explanation > dt { display: list-item; }
dl.explanation > dd { margin-left: 0px; }
dl.explanation > dd > p { margin-left: 20px; }
dl.explanation ul { list-style-type: disc; }
.age { background-color: #aaffaa; }
.bugs, .obsolete, .outdated, .not-rebuilt, .issues {
  background-color: #ffccaa;
}
.coinst { background-color: #fff480; }
.unsat { background-color: #ffaaaa; }
.problem {
  border:thin;
  border-style:solid;
  padding-top:0.2em;
  padding-bottom:0.2em;
  overflow-x: auto;
}
.problem svg {
  margin:auto;
  display:block;
}
dl.explanation > dt.collapsible.active { cursor:pointer; }
dl.explanation > dt.collapsed + dd { display:none; }
dl.explanation > dt {
  position:relative;
  list-style-type:none;
  margin-top:1em;
  margin-bottom:1em;
}
dl.explanation > dt:before {
  content: '';
  height:16px;
  width:16px;
  position: absolute;
  background: url(arrows.png) no-repeat left top;
  background-size: cover;
  left:-19px;
}
dl.explanation > dt.collapsible.active:before { background-position:-32px 0; }
dl.explanation > dt.collapsible.collapsed:before {
  background-position:-16px 0;
}
footer {
  border-top: 2px solid #000;
  border-bottom: 0;
  font-size: small;
  margin-top: 2em;
}
@media print {
  .expand { display:none; }
  dl.explanation > dt { list-style-type:disc; }
  dl.explanation > dt:before { display:none; }
  svg { max-width:100%; }
}
dl.coinst-issue dt { font-weight:bold; font-size: large; }
span.title { font-weight:bold; }
svg { display: block; margin:auto; }
